fastapi
uvicorn[standard]
pydantic
python-dotenv
psycopg2-binary
openai
alembic
SQLAlchemy
python-jose[cryptography]
langchain>=1.2.0
langchain-core>=1.2.1
qdrant-client
langchain-qdrant
langchain-community
langchain-huggingface>=1.2.0
huggingface-hub
tiktoken
transformers
